//- Variables

//- articles
-var art_images = ["assets/JavaScript.svg", "assets/React.svg", "assets/Storybook.svg"]
-var art_titles = ["Reducing cognitive load by theming my tools", "Code splitting & lazy loading a server side rendered React app", "Easy project switching with Itermocil & command line shortcuts"]
-var art_bodies = ["September 08, 2019", "September 08, 2019", "September 08, 2019"]

//- projects
-var prj_titles = ["Yawnch", "Stockstream.tv", "All Turtles"]
-var prj_bodies = ["An online coworking community for indie hackers, entreprenuers, and founders. Chat live with app developers, designers, and mentors. Access video courses and tutorials.", "On a mission to democratize investing knowledge. My partner and I bootstrapped this company with zero funding.", "I lead web development full time at All Turtles, an AI startup studio."]

//- Mixins

//- articles
mixin article(image, txt_title, txt_body)
    .row
        .col-1
            img(src=image, alt=txt_title)
        .col
            h3= txt_title
            p= txt_body

//- projects
mixin card(txt_title, txt_body)
    .col
        h1= txt_title
        p= txt_body
        button.btn.btn-outline-secondary(type="button") Button